.button {
    margin: 10px 10px;
    padding: 10px 10px;
    border-radius: 4px;
    background-color: var(--button-color);
    color: #f5f6fb;
    font-weight: 600;
    cursor: pointer;
    min-width: 100px;
    border: 1px solid white;
    transition: background-color 0.3s ease-in;
}

.button:hover {
    background-color: var(--button-hover);
    color: white;
}

.button:disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: not-allowed;
}