.Select {
    display: inline-block;

    .options {
        margin: 10px 10px;
        padding: 15px 10px;
        border-radius: 4px;
        width: 222px;
        border: 1px solid rgb(194, 162, 162);
    }

    .options:disabled {
        opacity: 0.4;
        pointer-events: none;
    }

    .label {
        color: black;
        margin-left: 10px;
        font-size: small;
    }
}