.Item {
    margin-top: 20px;
    .paper {
        align-items: flex-start;
        display: grid;
        margin: 20px 20px;
        border-radius: 10px;
        background-color: #72e1ed;
        border: 1px solid white;
        box-shadow: 0 0 20px gray;
        padding: 20px 20px;
     
        .item-image {
            height: inherit;
            vertical-align: middle;
        }

        .content {
            display: inline-block;
            margin: 50px 0;
            grid-area: 1 / 2 / 1 / 10;
            
            .field {
                padding: 15px 0;
            }
        }
        .title {
            font-weight: 600;
            opacity: 0.8;
            text-transform: uppercase;
        }    
    
    }
}
