@import "./components/common/auth/AuthForm.scss";
@import "./components/common/wrappers/Button.scss";
@import "./components/common/wrappers/Select.scss";
@import "./components/common/wrappers/TextField.scss";
@import "./components/dashboard/Dashboard.scss";

@import "./components/common/modals/modal/Modal.scss";
@import "./components/common/floating-buttons/FloatButton.scss";

@import "./components/common/images/Image.scss";

@import "./components/item/Item.scss";

:root {
    --windowsMinWidth: 1000px;
    --button-color: #ff4081;
    --button-hover: #fc1763;
    --ghost-white: #f5f6fb;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: var(--windowsMinWidth);
    background-color: var(--ghost-white);
    font-family: 'Courier New', Courier, monospace;
}